{% extends 'debt_tracker/base.html' %}

{% block content %}
<div class="page-header">
    <a href="{% url 'debtor_add' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
   <h1><a href="/">List of Companies</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for company in companies %}
                <div class="post">
					<div class="date">
						{#<a href="{% url 'company_detail' id=company.id %}" > #}
							{{ company.name }}
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}