{% extends 'debt_tracker/base.html' %}

{% block content %}
<div class="page-header">
	<h2><a href="/">Debt List</a></h2>
</div>
<div class="content container">
	<div class="row">
		<div class="col-md-8">
			<table style="width:100%">
				<tr>
					<th class='column'> Amount Owed </th>
					<th class='column'> Company Owed To </th>
				</tr>
				<caption> Debts for {{ info.debtor.name }} </caption>
				{% for debt in info.debts %}
					<div class="post">
						<tr>
							<th><a href="(% url 'debt_pay' pk=debt.pk)"> {{ debt.amount }} </a></th>
							<th> {{ debt.owed_to }} </th>
						</tr>
					</div>
				{% endfor %}
			</table>
         </div>
    </div>
</div>
{% endblock %}


